html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
    background-color: #9b9b92;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
    background-color: #9b9b92;
}
/* To prevent long-press that will bring up copy-paste dialog. */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  touch-callout: none;
  outline: 0; /* To prevent blue-box outline after click: http://stackoverflow.com/questions/21719306/getting-rid-of-a-blue-box-around-button-when-pressed */
}
textarea, input {
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
#gameArea {
  background-color: #eab860;
  position:absolute; 
  top:0%; 
  left:0%;
  height:95%;
  width:95%;
  padding: 0%;
  overflow: auto;
  border: solid green 1pt;
  /*margin-left : -1.8%;*/
}
.l{
  border-left: 2pt solid black;
}
.r {
  border-right: 2pt solid black;
}
.b {
  border-bottom: 2pt solid black;
}
.u {
  border-top: 2pt solid black;
}


.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
#boardArea{
  position:absolute;
  /*margin-left: -48%;
  left:50%;*/
  height: 100%;
  width: 100%;
  
}
#scoreBoard{
  position:absolute;
  left: 0;
  bottom: 10%;
  height: 12%;
  width: 95%;
  margin: 2%;
}

div.chessOnBoard{

}
